body {
  font-family: Arial, sans-serif;
  background-color: #f5f8fa;
  color: #000000;
  margin: 20px;
}

h1 {
  text-align: center;
  color: #3b0429b2;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #ffffff2c;
  box-shadow: 0 0 10px rgba(219, 157, 204, 0.1);
}

th, td {
  padding: 12px;
  text-align: left;
  vertical-align: top;
}

th {
  background-color: #dbddf4;
  color: #000000;
  width: 25%;
}

tr:nth-child(even) {
  background-color: #ffffff4d;
}

a {
  color: #ff02dd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.foto-container {
  text-align: center;
}

#foto-principal {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #ff00bf;
}

.miniaturas {
  margin-top: 10px;
}

.miniaturas img {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 2px solid #ff00bf;
  cursor: pointer;
  border-radius: 50%;
}

.miniaturas img:hover {
  border-color: #003566;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 4px;
}

textarea {
  resize: vertical;
}

button {
  margin-left: 5px;
  padding: 4px 8px;
  border: none;
  background-color: #d879c9;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #b94da6;
}

#cpf-erro,
#email-erro {
  font-size: 0.9em;
  color: red;
  display: block;
  margin-top: 5px;
}
